@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
/*   background: #f4fefe; */
   background: #000fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
}

.wrapper {
/*   background: #f6f8f9; */
  background: #000000;
  color: #ffffff;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0,0,0,0.8);
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.button {
/*   background: #e9f0f4; */
   background: #242424;
  height: 3.5rem;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #e9f0f4;
  border: none;
  font-size: 1.5rem;
}

.button:hover {
  border: 2px dotted #ff0000;
}

.equals {
  background: #00ff00;
  color: #242424;
  grid-column: 3/5;
}

.opt {
  background: #009aee;
  color: #242424;
}